.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

html, #root, .App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  background-color: black;
  top:0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.headLink {
  font-size: 12px;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  justify-content: center;
  color: white;
  flex:0 0 300px;
}

.headLink:hover {
  text-decoration-line: underline;
  text-decoration-color: white;
  text-underline-position: below;
  text-decoration-style: solid;
  color: #96c8a2;
}

#myLogo {
  font-size: 18px;
  flex:1 0 500px;
  font-weight: 900;
}

footer {
  display: flex;
  width: 100%;
  background-color: black;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
}
.footerIcons {
  flex: 1 0;
  color: grey;
}

.projLink {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Shippori Antique', sans-serif;
  color: inherit;
  font-weight: 500;
}

p {
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  text-align: justify;
  color: white;
}

.aboutp {
  font-weight: 400;
  text-align:left;
  margin-left: 10%;
  margin-right: 10%;
  color:black;
}

.HomePage {
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: #000000;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
}
#aboutPage {
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: white;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
  padding-left: 20%;
  padding-right: 20%;
  flex-wrap: wrap-reverse;
}
.aboutContainer {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
#aboutLH {
  flex: 1 0 300px;
}
#aboutRH {
  flex: 0 0 250px;
  margin-top:10px;
}


ul {
  color: grey;
  font-weight: 300;
  list-style-type: circle;
  font-size: 15px;
}
