.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

html, #root, .App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  background-color: white;
  top:0;
}
#title {
  display: flex;
  padding-left: 10%;
}

.HomePage {
  display: flex;

  width: 100%;
  bottom: 0;
  background-color: #000000;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
}
