.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

html, #root, .App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  background-color: black;
  top:0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.headLink {
  font-size: 12px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: white;
  flex:0 0 300px;
}

.headLink:hover {
  /*text-decoration-line: underline;
  text-decoration-color: white;
  text-underline-position: below;
  text-decoration-style: solid;*/
  color: #96c8a2;
}

#myLogo {
  font-size: 18px;
  flex:1 0 500px;
  font-weight: 900;
}
#logo_span {
  padding: 0 15px;
  box-shadow: inset 0 -15px 0 0 #96c8a2;
}

footer {
  display: flex;
  width: 100%;
  background-color: black;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.footerIcons {
  flex: 1 0;
  color: grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.footerIcons:hover {
  color: white;
}
#contactLabel {
  flex-basis: 100%;
  padding-left: 100px;
  font-size: 12px;
  margin: auto;
  margin-bottom: 2px;
  border-bottom: 1px solid grey;
}

.projLink {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Shippori Antique', sans-serif;
  color: inherit;
  font-weight: 500;
}

p {
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  text-align: justify;
  color: white;
}

.aboutp {
  font-weight: 400;
  text-align:left;
  margin-left: 10%;
  margin-right: 10%;
  color:black;
}

.HomePage {
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: #000000;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right:20%;
}
#aboutPage {
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: white;
  justify-content:center;
  align-items: center;
  flex-grow: 1;
  padding-left: 20%;
  padding-right: 20%;
  flex-wrap: wrap-reverse;
}

.aboutContainer {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}
#aboutLH {
  flex: 1 0 300px;
  border-left: 1px solid grey;
}
#aboutRH {
  flex: 0 0 250px;
  margin-top:10px;
}

ul {
  color: grey;
  font-weight: 300;
  list-style-type: circle;
  font-size: 15px;
}

ul.projectList {
  color: inherit;
  font-weight: inherit;
  list-style-type: circle;
  font-size: inherit;
}

.decoLabel {
  display: flex;
  flex: 1 0 200px;
  justify-content: left;
}

#hobbiesPage {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000000;
  justify-content:center;
  align-items: center;
}

#currentworkPage {
  display:flex;
  flex:1 0;
  background-color: black;
  flex-flow: column;
  padding-left: 10%;
  padding-right: 10%;
}
.currentwork_card {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.currentwork_card_header {
  text-align: left;
  margin-left: 10px;
  padding-top: 10px;
  color: grey;
}
.currentwork_card_innerdiv {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.currentwork_card_asset {
  width: 459px;
  flex:0 0;
}
.currentwork_card_desc {
  margin: 10px;
  width: 400px;
  flex: 1 0 auto;
}
br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 20px; /* change this to whatever height you want it */
}
.hover-info {
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-flow: column wrap;
}

.hover-info .hover-info-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #999;
  padding: 5px;
  line-height: 32px;
}

.hover-info .hover-info-description {
  font-size: 18px;
  font-weight: 100;
  color: #aaa;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.nav-arrows-container svg {
  fill:white;
  transition: 0.5s;
}
.nav-arrows-container svg:hover {
  fill:#96c8a2;
}
