.ProjectPage {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.landingWrapper {
  display: flex;
  height: 60vh;
  flex-direction: column;
	justify-content: center;
}

.introDescWrapper {
  padding-left: 20%;
  padding-right: 20%;
	display: flex;
  flex-direction: row;
	justify-content: center;
}
.contentHeadWrapper {
  display: flex;
  flex-direction: row;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  /*flex-grow: 1;*/
}

#sideWrapper {
  position: absolute;
  flex-direction: column;
  width: 50px;
  margin-left: 0;
  margin-top: auto;
}
p.sideQuickNav{
  font-size: 15px;
  writing-mode: vertical-rl;
  /*text-orientation: sideways;*/
  transform:scale(-1);
  text-decoration: none;
  transition: font-size 0.2s;
}
p.sideQuickNav:hover{
  font-size: 20px;
  text-decoration: none;
}

.ColWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
}

.threeColWrapper_items {
  flex: 0 0 400px;
  background-color: grey;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.twoColWrapper_items {
  flex: 0 0 400px;
}
blockquote {
  font-weight: bolder;
  align-self: center;
}
h1.sectionTitle {
  text-align: left;
  color: white;
  margin-left: 10%;
}
.nav {
  align-self: center;
  margin-bottom: 10px;
  font-family: 'Jost', sans-serif;
  font-size:20px;
}

.vl {
  display:block;
  position: fixed;
  top: 100px;
  bottom: 71px;
  margin-left: 7%;
  border-left: 1px solid white;
}
